<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.hello"
        version="0.7.0">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/hello.js" target="js/hello.js"/>

  <js-module src="www/hello.js" name="hello">
    <clobbers target="hello" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Hello">
        <param name="android-package" value="com.example.plugin.Hello"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
      <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
      <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    </config-file>

    <source-file src="src/android/pgyer_sdk_2.1.2.jar" target-dir="libs"/>

    <source-file src="src/android/Hello.java" target-dir="src/com/example/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <framework src="CoreTelephony.framework" weak="true" />
    <framework src="OpenGLES.framework" weak="true" />
    <framework src="SceneKit.framework" weak="true" />
    <framework src="AudioToolbox.framework" weak="true" />
    <framework src="AvFoundation.framework" weak="true" />
    <framework src="SystemConfiguration.framework" weak="true" />

    <framework src="src/ios/lib/PgySDK.framework" custom="true" />

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

</plugin>
