<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="wang.imchao.plugin.pgyer"
        version="0.0.1">

  <name>PgyerUpdateCheck</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/pgyer.js" target="js/pgyer.js"/>

  <js-module src="www/pgyer.js" name="pgyer">
    <clobbers target="pgyer" />
  </js-module>

  <platform name="android">
    <preference name="ANDROID_APP_ID" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Pgyer">
        <param name="android-package" value="wang.imchao.plugin.PgyerPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
      <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
      <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="PGYER_APP_ID" android:value="$ANDROID_APP_ID" />
    </config-file>

    <source-file src="src/android/pgyer_sdk_2.1.2.jar" target-dir="libs"/>

    <source-file src="src/android/PgyerPlugin.java" target-dir="src/wang/imchao/plugin/"/>
  </platform>

  <platform name="ios">
    <preference name="IOS_APP_ID" />

    <config-file target="config.xml" parent="/widget">
      <feature name="Pgyer">
        <param name="ios-package" value="PgyerPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="PgyerAppID">
      <string>$IOS_APP_ID</string>
    </config-file>

    <framework src="CoreTelephony.framework" weak="true" />
    <framework src="OpenGLES.framework" weak="true" />
    <framework src="SceneKit.framework" weak="true" />
    <framework src="AudioToolbox.framework" weak="true" />
    <framework src="AvFoundation.framework" weak="true" />
    <framework src="SystemConfiguration.framework" weak="true" />

    <framework src="src/ios/lib/PgySDK.framework" custom="true" />

    <header-file src="src/ios/PgyerPlugin.h" target-dir="PgyerPlugin"/>
    <source-file src="src/ios/PgyerPlugin.m" target-dir="PgyerPlugin"/>
  </platform>

</plugin>
